CLAUDE.md
GEMINI.md
AGENTS.md
.DS_Store
*.pyc
*.backup
.env
.env.*
.windsurfrules

.vscode/
.idea/
.claude/
.cursor/
.pytest_cache/
__pycache__/
.ipynb_checkpoints/
.superdesign/
.serena/
docs/
exmaple/